html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  margin: 0;
}

#mainDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#descriptionDiv {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #F1F1F1;
  font-family: cocogoose;
  font-size: 5vh;
}

#buttonsDiv {
  width: 50vw;
  height: 100vh;
  background-color: #1D242B;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100vh;
  justify-content: center;
  text-align: center;
  color: white;
}

#toggleText {
  color: #0077C0;
}

.mainPageLinks {
  color: white;
  font-family: cocogoose;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-decoration: none;
  cursor: pointer;
  justify-self: center;
  font-size: 2.5vh;
  transition: font-size 0.2s;
}

.mainPageLinks:hover {
  font-size: 3.5vh;
}


/**************** ABOUT DIVISION *************/

#skillsAboutDiv {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #1D242B;
}

#aboutDiv {
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cmdWindow {
  width: 42vw;
  height: 85vh;
  background-color:#0c0c0c;
  border: 1px solid #191919;
  overflow: hidden;
  font-family: "Courier New", monospace;
  color: #ffffff;
}

#cmdTitle {
  background-color: #ffffff;
  justify-content: center;
  color: black;
  padding: 5px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

#cmdTitleList {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 0.5vw;
}

#cmdTitleIcon {
  height: 2vh;
  width: 2vh;
  background-image: url('../media/cmdIcon.png');
  background-size: cover;
}

#cmdTitleText {
  margin: 0;
  font-size: 2.5vh;
}

#cmdContent {
  display: flex;
  flex-direction: column;
  padding: 2vh;
  height: calc(100% - 30px);
  overflow-y: auto;
  font-size: 2.5vh;
}

/**************** SKILLS ICONS DIVISION *************/


#skillsDiv {
  height: 100vh;
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#htmlImg {
  height: 7vh;
  width: 7vh;
  animation: orbitAnimation1 70s linear infinite alternate;
  background-image: url('../media/html.png');
  background-size: cover;
}

@keyframes orbitAnimation1 {
  0% {
    transform: rotate(0deg) translateY(50vh) translateX(15vh);
  }
  100% {
    transform: translateY(50vh) translateX(10vh) rotate(180deg);
  }
}

#cssImg {
  height: 3vh;
  width: 3vh;
  animation: orbitAnimation2 70s linear infinite alternate;
  background-image: url('../media/css3.png');
  background-size: cover;
}

@keyframes orbitAnimation2 {
  0% {
    transform: rotate(2deg) translateY(45vh) translateX(35vh);
  }
  100% {
    transform: translateY(40vh) translateX(10vh) rotate(170deg);
  }
}

#jsImg {
  height: 8vh;
  width: 8vh;
  background-image: url('../media/js.png');
  background-size: cover;
  animation: orbitAnimation3 70s linear infinite alternate;

}

@keyframes orbitAnimation3 {
  0% {
    transform: rotate(-2deg) translateY(35vh) translateX(0vh);
  }
  100% {
    transform: translateY(15vh) translateX(10vh) rotate(260deg);
  }
}

#pyImg {
  height: 7vh;
  width: 7vh;
  background-image: url('../media/py2.png');
  background-size: cover;
  animation: orbitAnimation4 69s linear infinite alternate;
}

@keyframes orbitAnimation4 {
  0% {
    transform: rotate(60deg) translateY(30vh) translateX(0vh);
  }
  100% {
    transform: translateY(15vh) translateX(30vh) rotate(230deg);
  }
}

#reactImg {
  height: 11vh;
  width: 11vh;
  background-image: url('../media/reactsq.png');
  background-size: cover;
  animation: orbitAnimation5 68s linear infinite alternate;
}

@keyframes orbitAnimation5 {
  0% {
    transform: rotate(0deg) translateY(35vh) translateX(0vh);
  }
  100% {
    transform: translateY(15vh) translateX(10vh) rotate(130deg);
  }
}



/*************** PROJECTS DIVISION ************/

#projectsDiv {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: cocogoose;
  text-align: center;
}

#aiDiv {
  background-color: #1D242B;
  color: #0077C0;
}


#electronicsDiv {
  background-color: #0077C0;
  color: white;
}

#webDiv {
  background-color: white;
  color: #1D242B;
}

.projectsList {
  text-align: center;
  list-style: none;
  padding: 0;
  margin-top: 10vh;
  cursor: pointer;
}

.projectItems {
  font-size: 2.5vh;
  transition: font-size 0.2s;
  margin-top: 8vh
}

.projectItems:hover {
  font-size: 3.2vh;
}

#aiDot{
  color: #F1F1F1;
}

#electrDot{
  color: #1D242B;
}

#webDot{
  color:#0077C0;
}

/**************** CONTACT DIVISION *************/

#contactDiv {
  height: 100vh;
  width: 100vw;
  background-color: #1D242B;
}

#mediaDiv {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F1F1F1;
  font-family: cocogoose;
}

#textContact {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F1F1F1;
  font-family: cocogoose;
}

#mediaList {
  padding: 0;
  display: flex;
  list-style: none;
  column-gap: 10vh; 
  cursor: pointer;
}

.mediaLogos {
  height: 5vh;
  width: 5vh;
  background-size: cover;
  transition: height 0.2s, width 0.2s;
}

#inLogo {
  background-image: url('../media/whiteIn.png');
}

#gitLogo {
  background-image: url('../media/githubLogoWhite.png');
}

#gmailLogo {
  background-image: url('../media/gmail100white.png');
}

#inLogo:hover {
  height: 6.5vh;
  width: 6.5vh;
}

#gitLogo:hover {
  height: 6.5vh;
  width: 6.5vh;
}

#gmailLogo:hover {
  height: 6.5vh;
  width: 6.5vh;
}



/******** FONTS *******/
@font-face {
  font-family: 'cocogoose';
  src: url('../fonts/cocogoose-pro.regular.ttf') format('truetype');
}