body {
  margin: 0;
}

#mainDiv {
  width: 100%;
  height: 100%;
  display: flex;
}

#descriptionDiv {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #F1F1F1;
  font-family: cocogoose;
  font-size: 5vh;
}

#buttonsDiv {
  width: 50vw;
  height: 100vh;
  background-color: black;
  display: flex;
  color: white;
}

#toggleText {
  color: #21209C;
}


@font-face {
  font-family: 'cocogoose';
  src: url('../fonts/cocogoose-pro.regular.ttf') format('truetype');
}