html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#mainDiv {
  width: 100%;
  height: 100%;
  display: flex;
}

#descriptionDiv {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #F1F1F1;
  font-family: cocogoose;
  font-size: 5vh;
}

#buttonsDiv {
  width: 50vw;
  height: 100vh;
  background-color: #1D242B;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100vh;
  justify-content: center;
  text-align: center;
  color: white;
}

#toggleText {
  color: #0077C0;
}

.mainPageLinks {
  color: white;
  font-family: cocogoose;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-decoration: none;
  cursor: pointer;
  justify-self: center;
  font-size: 2.5vh;
  transition: font-size 0.2s;
}

.mainPageLinks:hover {
  font-size: 3.5vh;
}


/**************** SKILLS DIVISION *************/

#skillsDiv {
  height: 100vh;
  width: 100vw;
  background-color: #1D242B;
}



/*************** PROJECTS DIVISION ************/

#projectsDiv {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: cocogoose;
  text-align: center;
}

#aiDiv {
  background-color: #1D242B;
  color: #0077C0;
}


#electronicsDiv {
  background-color: #0077C0;
  color: white;
}

#webDiv {
  background-color: white;
  color: #1D242B;
}

.projectsList {
  text-align: center;
  list-style: none;
  padding: 0;
  margin-top: 10vh;
  cursor: pointer;
}

.projectItems {
  font-size: 2.5vh;
  transition: font-size 0.2s;
  margin-top: 8vh
}

.projectItems:hover {
  font-size: 3.2vh;
}

#aiDot{
  color: #F1F1F1;
}

#electrDot{
  color: #1D242B;
}

#webDot{
  color:#0077C0;
}

/**************** CONTACT DIVISION *************/

#contactDiv {
  height: 100vh;
  width: 100vw;
  background-color: #1D242B;
}




/******** FONTS *******/
@font-face {
  font-family: 'cocogoose';
  src: url('../fonts/cocogoose-pro.regular.ttf') format('truetype');
}