/**************** CONTACT DIVISION *************/

#contactDiv {
  height: 100vh;
  width: 100vw;
  background-color: #1D242B;
}

#mediaDiv {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F1F1F1;
  font-family: cocogoose;
}

#textContact {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F1F1F1;
  font-family: cocogoose;
}

#mediaList {
  padding: 0;
  display: flex;
  list-style: none;
  column-gap: 10vh; 
  cursor: pointer;
}

.mediaLogos {
  height: 5vh;
  width: 5vh;
  background-size: cover;
  transition: height 0.2s, width 0.2s;
}

#inLogo {
  background-image: url('../media/whiteIn.png');
}

#gitLogo {
  background-image: url('../media/githubLogoWhite.png');
}

#gmailLogo {
  background-image: url('../media/gmail100white.png');
}

#inLogo:hover {
  height: 6.5vh;
  width: 6.5vh;
}

#gitLogo:hover {
  height: 6.5vh;
  width: 6.5vh;
}

#gmailLogo:hover {
  height: 6.5vh;
  width: 6.5vh;
}