html,
body {
  scroll-behavior: smooth;
  margin: 0;
  overflow-x: hidden;
}




/******** FONTS *******/
@font-face {
  font-family: 'cocogoose';
  src: url('../fonts/cocogoose-pro.regular.ttf') format('truetype');
}