html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  margin: 0;
}




/******** FONTS *******/
@font-face {
  font-family: 'cocogoose';
  src: url('../fonts/cocogoose-pro.regular.ttf') format('truetype');
}