<div id="titanicDiv"> 
  <div id="titanicFormDiv">
    <form action="/" method="post">
      <p>
        <label for="sex">Sex</label><br>
        <select id="titanicSex" name="sex" class="titanicBoxStyle" aria-placeholder="">
          <option value="" disabled selected></option>
          <option value="1">Female</option>
          <option value="0">Male</option>
        </select><br>
      </p>
      <p>
        <label for="cabin">Cabin</label><br>
        <select id="titanicCabin" name="cabin" class="titanicBoxStyle">
          <option value="" disabled selected></option>
          <option value="1">I'd have had a cabin</option>
          <option value="0">Nah</option>
        </select><br>
      </p>
      <p>
        <label for="age">Your age</label><br>
        <input type="number" name="age" id="titanicAge" class="titanicBoxStyle" min="0" max="100" required><br>
      </p>
      <p>
        <label for="fare">How much would you have payed?</label><br>
        <input type="number" name="fare" id="titanicFare" class="titanicBoxStyle" min="0" max="300" required>
      </p>
      <div>
        <input type="submit" value="Let's go" id="titanicSubmitBtn">
      </div>
    </form>
  </div>
  <div id="titanicAnswerDiv">
    <div id="titanicTitleDiv">
      <h1 id="titanicTitle">
        Would you have survived the Titanic?
      </h1>
    </div>
    <div id="titatnicContainerResultDiv">
      {% if result %}
        <div>
            <p id="titanicResult">{{ result }}</p>
            <p id="titanicSurvivalText">% of survival</p>
        </div>  
      {% endif %}
    </div>
    <div id="titanicContainerResultTextDiv">
      {% if result%}
        <div id="titanicResultText">
          <h3 class="fontLarge">{{ resultText }}</h3>
        </div>
      {% endif %}
    </div>
  </div>
</div>