<div id="titanicDiv"> 
  <div id="titanicFormDiv">
    <div id="formDiv">
      <p>
        <label for="sex">Sex</label><br>
        <select id="titanicSex" name="sex" class="titanicBoxStyle">
          <option value="" disabled selected></option>
          <option value="1">Female</option>
          <option value="0">Male</option>
        </select><br>
      </p>
      <p>
        <label for="cabin">Cabin</label><br>
        <select id="titanicCabin" name="cabin" class="titanicBoxStyle">
          <option value="" disabled selected></option>
          <option value="1">I'd have had a cabin</option>
          <option value="0">Nah</option>
        </select><br>
      </p>
      <p>
        <label for="age">Your age</label><br>
        <input type="number" name="age" id="titanicAge" class="titanicBoxStyle" min="0" max="100" required><br>
      </p>
      <p>
        <label for="fare">How much would you have payed?</label><br>
        <input type="number" name="fare" id="titanicFare" class="titanicBoxStyle" min="0" max="300" required>
      </p>
      <div>
        <button id="titanicSubmitBtn" onclick="getPredictions()">Let's go</button>
      </div>
    </div>
  </div>  
  <div id="titanicAnswerDiv">
    <div id="titanicTitleDiv">
      <h1 id="titanicTitle">
        Would you have survived the Titanic?
      </h1>
    </div>
    <div id="titatnicContainerResultDiv" class="courierFont">
        <p id="titanicResult"></p>  <!-- The result will be fetched from flask-->
        <p id="titanicSurvivalText"></p>  <!-- Will be rendered together with the prediction-->
    </div>
    <div id="titanicContainerResultTextDiv" class="courierFont">
      <div id="titanicResultText" class="fontLarge"></div>  <!-- The result will be fetched from flask-->
    </div>
  </div>
</div>